[user]
	name = marcsello
	email = punkosdmarcell@rocketmail.com

[core]
	editor = nano

[apply]
	whitespace = nowarn

[pull]
	ff = only

[pager]
	branch = false
	tag = false

[url "git@github.com:"]
  insteadOf = https://github.com

[url "git@git.sch.bme.hu:"]
	insteadOf = https://git.sch.bme.hu/
[push]
	autoSetupRemote = true
