set linenumbers
unset emptyline
unset jumpyscrolling
set nohelp
set positionlog
unset breaklonglines
set smarthome
set locking
unset casesensitive

bind ^W	chopwordleft	main
bind ^F	whereis main
bind ^S writeout main
